

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
	position: relative;
}

#page
{
	
	background: white;
	overflow: hidden;
	
}

#header
{
	margin: 0;
	padding: 0;


}

#content
{
    padding: 0 20px 20px 20px;
    overflow: hidden;
    margin-bottom: 60px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}
div.main{
	margin-bottom: 80px;
} 
#footer
{
	padding: 10px;
	margin: 0;
	font-size: 0.8em;
	text-align: center;
	background: url('../images/filete80.png');
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
	margin-top: 55px;
}
#logo h1{
	margin: 0;
}
#logo h1 a {
	width: 275px;
	height: 173px;
	background: url('../images/logo-ogt-cook.png');
	background-repeat: no-repeat;
	margin: 0;
}

#mainmenu
{
	background: url('../images/filete80.png');
	position: fixed;
	top: 0;
	margin: 0 0 50px 0;

}
#subNav{
	display: none;
}

#mainmenu ul li{
	list-style: none;
	margin: 0;

}
#subNav li a{
		font-size: 1.2em;
		border-bottom: solid 1px #FFFFFF;
	}


#mainmenu ul
{
	padding:1px 20px 1px 20px;
	margin:0px;
	
}



#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: url('../images/filete80.png');

}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/*INICIO*/
body.inicio{
	background: url( '../images/nevera3.jpg'), url('../images/fondoHome.jpg');
	background-repeat: no-repeat, repeat;

}

body.inicio #sidebar{
	overflow: hidden;
	display: block;
}

.inicio p{
	padding: 5px 0;
}

.inicio #ikea{
    width: 90%;
    max-width: 500px;
    height: 150px;
    background: url('../images/ikea-logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;

  }
  .inicio #fagor{
    width: 90%;
    max-width: 500px;
    height: 150px;
    background: url('../images/facor-logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

    .inicio #fagor{
    width: 90%;
    max-width: 500px;
    height: 150px;
    background: url('../images/facor-logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

   .inicio #carrefour{
    width: 90%;
    max-width: 500px;
    height: 150px;
    background: url('../images/carrefour-logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

   .inicio #kyocera{
    width: 90%;
    max-width: 500px;
    height: 150px;
    background: url('../images/kyocera-logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
   .inicio #lebanza{
    width: 90%;
    max-width: 500px;
    height: 150px;
    background: url('../images/lebanza-logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .inicio #page{
  	background: inherit;
  }

  .inicio #content{
  	width: 100%;
  	background: url('../images/fileteBlanco60.png');
  }
  .inicio #sidebar{
  	width: 100%;
  }

  .inicio #sidebar ul li{
  	width: 33%;
  	display: inline-block;
  }  


/*FIN INICIO*/

/*perfil usuario*/

body.perfilUsuario{
	
	background: url( '../images/cavernicola.png'), url('../images/fondo-user.jpg');
	background-repeat: no-repeat, repeat-x;
	background-position: 900px 450px, 0 0 ;

}
body.perfilUsuario h1 a, body.perfilUsuario h2, body.perfilUsuario p{
	
	color: #FFFFFF;
}
body.perfilUsuario #page{

	background:inherit;
}

body.perfilUsuario #content {
	width: 70%;
	float:left;
}
body.perfilUsuario #sidebar{
	
	width: 29%;
	float:left;	
}
body.perfilUsuario #sidebar .portlet-content{
	
	background: url('../images/fileteBlanco60.png');
}

body.perfilUsuario table *{
	color: #FFFFFF;
	font-size: 1.2em;
	text-align: left;
	padding: 5px 10px;
}
/*fin perfil usuario*/

/*listaRecetas*/

body.listaRecetas{
	background: url('../images/corcho.jpg');
}

body.listaRecetas #page{
	background: inherit;
}

body.listaRecetas .view{
	width: 300px;
	background: url('../images/chincheta.png'), url("../images/posit.jpg");
	background-repeat: no-repeat, repeat;
	background-position: 90% 0, 0 0;
	padding: 30px 10px 10px 10px;
	float: left;
	margin-right: 20px;
	border: 0;
}

body.listaRecetas .searchView{
	background: url('../images/fileteBlanco60.png');
	padding: 0 20px;
	float: inherit;
	width: 100%;

}

body.listaRecetas .listaView{
	width: 100%;
	float: none;
}




body .searchView a{
	
	display: block;
	margin: 0;
	padding: 20px 64px 0 0;
	height: 64px;
	width: 100%;
	font-size: 1.5em;
	text-decoration: none;
	
}

body .searchView a.buscar{
	
	
	background: url('../images/lupa.png');
	background-repeat: no-repeat;
	background-position: 100% 0;
}
body .searchView a.nueva{
	
	
	background: url('../images/nueva.png');
	background-repeat: no-repeat;
	background-position: 100% 0;
}
/*fin.listaRecetas*/

/*receta*/
	
	body.receta{
		background: url('../images/verduras.png'), url('../images/fondo_madera.jpg');
		background-repeat: no-repeat, repeat;
		background-position: 100% 60%, 0 0;
	
	}

	body.receta #page{

		background: inherit;
	}

	body.receta #content{
		margin-bottom: 60px;
	}

	body.receta .recipeView{
		background: url('../images/fileteBlanco60.png');
		width: 100%;
		padding: 20px;
	}

	body.receta h3{
		background: url('../images/filete80.png');
		color: #FFFFFF;
		padding: 5px;
	}

	body.receta #content li, body.receta #content td, body.receta  #content th{
		font-size: 1.2em;
		padding: 5px;
		text-align: left;
	} 
	

/*fin receta*/

/*Busqueda recetas*/
body.busquedaRecetas, body.busquedaRecetas #page{
	overflow-x: scroll;
}



body .grid-view table.items th{

		padding: 5px;
		font-size: 1.1em;
		background: url('../images/filete80.png');
		max-width: 120px;
}
body.busquedaRecetas .grid-view table.items td{

		padding: 5px;
		font-size: 1.2em;
		background: url('../images/fileteBlanco60.png');
		max-width: 120px;
	}
/*fin busqueda recetas*/

/*user admin*/

body.userAdmin{
	background: url('../images/fondo_madera1.jpg');
}

body.userAdmin #page{
	background: inherit;
}

body.userAdmin h2, body.userAdmin p{
	color: #000;
}
/*fin user admin*/